@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-wide;
    font-weight: 400;
  }

  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    font-weight: 800;
  }

  a {
    @apply no-underline decoration-0 cursor-pointer text-inherit;
  }

  p,
  span,
  a {
    @apply tracking-tight;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.service-gradient {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), linear-gradient(63deg, rgba(255, 255, 255, 0.75) 0%, rgba(120, 120, 120, 0.5) 100%);*/
  background: linear-gradient(57deg, rgba(255, 255, 255, 0.75) 0%, rgba(120, 120, 120, 0.5) 100%);

}

.mobile-icon-gradient {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 0%, rgba(120, 120, 120, 0.5));
}

.button-gradient {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), linear-gradient(76deg, rgba(255, 255, 255, 0.75) 0%, rgba(120, 120, 120, 0.5) 100%);*/
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.75) 0%, rgba(120, 120, 120, 0.5));

}

@layer components{
  .container {
    max-width: 1400px;
  }
}